---
import "@/styles/globals.css";
import Layout from "../components/layout.tsx";
import Analytics from "@vercel/analytics/astro";

const plausibleDomain = import.meta.env.PUBLIC_PLAUSIBLE_DOMAIN;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gitlytics - GitHub Analytics" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {
      plausibleDomain && (
        <script
          defer
          data-domain={plausibleDomain}
          src="https://plausible.io/js/script.js"
        />
      )
    }
  </head>
  <body>
    <Layout client:only>
      <slot />
    </Layout>
    <Analytics />
  </body>
</html>
